
*.log
src/backend/openhab_userdata/cache/org.eclipse.osgi/framework.info.58
src/backend/openhab_userdata/cache/org.eclipse.osgi/framework.info.80
src/backend/openhab_userdata/cache/org.eclipse.osgi/framework.info.83
src/backend/openhab_userdata/tmp/port
src/backend/openhab_userdata/cache/org.eclipse.osgi/48/data/FeatureDeploymentListener.cfg
src/backend/openhab_userdata/cache/org.eclipse.osgi/framework.info.58
src/backend/openhab_userdata/cache/org.eclipse.osgi/framework.info.83
src/backend/openhab_userdata/cache/org.eclipse.osgi/framework.info.86
src/backend/openhab_userdata/config/org_apache_felix_cm_impl_DynamicBindings.config
src/backend/openhab_userdata/persistence/

src/backend/openhab_userdata/cache/

src/backend/openhab_userdata/backup/

src/backend/openhab_userdata/logs/*

src/backend/openhab_userdata/tmp/mvn/org/openhab/

src/backend/openhab_userdata/tmp/

**package-lock.json

!src/backend/openhab_userdata/logs/.gitignore