html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.MainDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flexGrow {
  flex-grow: 1;
  padding-bottom: 5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.FloatingButtonBottomRight {
  position:fixed;
  right:5%;
  bottom:10%;
  z-index: 999;
}

.PopUpButton {
  position:fixed;
  right:20%;
  bottom:10%;
  padding: 10;
  z-index: 1000;
}

.BiggerText{
  font-size: 3.0em;
  color:#212121;
  font-family: serif;
  padding-bottom: 0.5em;
}

.Right{
  position: absolute;
  right: 0px;
  width: 50px;
}
.Left{
  position: relative;
  left: 20px;
  text-align: left;
}
.Stick{
    width: '100%';
    position: 'sticky';
    bottom: 100;
}
